body{
  background-image: url(gerecht.png);
  background-size: cover;
}

*{
  font-family: sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 900;

  /* Letter-spacing haalt de letters verderweg of dichterbij elkaar. */
  letter-spacing: 1.2px;
  text-align: center;
}
